h1{
    text-align: center;
}

form {
  margin: 0 auto;
  margin-top: 30px;
  width: 30%;
  padding: 30px;
  /* border: 1px solid blue; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="text"],
input[type="submit"],
input[type="email"],
input[type="password"] {
  /* background-color: #fff; */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 7px;
}

input[type="submit"] {
  cursor: pointer;
  background-color: teal;
  color: white;
  font-size: 18px;
}

p{
    font-size: 18px;
    text-align: center;
    line-height: 0;
}
a{
    font-size: 20px;
}